TZ=America/Santo_Domingo

#Puerto que Usara Nest
PORT=4000

#El Stage del Projetc solo es valido "DEV" o "PROD"
STATE=DEV

NATS_SERVERS=nats://localhost:4222
NATS_USER=nats
NATS_PASSWORD=password
NATS_CA_PATH=./nats-certs/ca-cert.pem
NATS_CLIENT_CERT_PATH=./nats-certs/client-cert.pem
NATS_CLIENT_KEY_PATH=./nats-certs/client-key.pem

#OBS
OBS_IP=""
OBS_PASSWORD=""
OBS_PORT=""

#CHANNEL
CHANNEL_ID=2